#instructions-body {
    background-color: rgb(9, 164, 253);
}

#instructions{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 20%;
    width: 50%;
    height: 60%;
    margin: 0 auto;
    background-color: rgb(73, 98, 100);
    border-radius: 10px;
    
}

#instructions h1 {
    color: white;
    font-size: 60px;
    margin: 30px 40px;
    text-align: center;
    
}

#instructions li {
    color: white;
    font-size: 25px;
    margin: 30px 40px;
    
    
}

#next {
    background-color: rgb(9, 164, 253);
    width: 15%;
    position: absolute;
    top: 85%;
    right: 5%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 30px;
}

#next:hover {
    background-color: white;
    color: rgb(9, 164, 253);
    
}

#main-body {
    background-color: rgb(9, 164, 253);
    margin: 0;
    padding: 50px 50px 50px 50px;
    position: absolute;
}

#main-h1 {
    font-size: 200%;
    margin: 20px;
    font-weight: 900;
   
}

#main-p {
    margin: 30px 10px 10px 10px;
    font-size: 120%;

}

#title {
    font-size: 300%;
    text-align: center;
    padding: 10px;
    width: 20%;
    position: relative;
    left: 40%;
    margin: 20px;
    background-color: rgb(73, 98, 100);
    border-radius: 10px;
    color: white;
}

#back {
    background-color: rgb(73, 98, 100);
     position: absolute;
     padding: 10px;
     left: 1%;
     top: 2%;
     color: white;
     width: 10%;
     text-align: center;
     border-radius: 5px;
     text-decoration: none;
     font-size: 200%;
 
 }

 #back:hover {
    background-color: white;
    color: rgb(9, 164, 253);
    font-size: 220%;
}

#question1 {
    background-color: rgb(73, 98, 100);
    width: 33%;
    height: 300px;
    font-size: 180%;
    display: inline-block;
    margin-bottom: 10px;
    color: white;
    border: 5px solid rgb(73, 98, 100);
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

#question2 {
    background-color: rgb(73, 98, 100);;
    width: 33%;
    height: 300px;
    left: 33%;
    font-size: 180%;
    display: inline-block;
    color: white;
    border: 5px solid rgb(73, 98, 100);
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

#question3 {
    background-color: rgb(73, 98, 100);;
    width: 33%;
    height: 300px;
    left: 66%;
    font-size: 180%;
    display: inline-block;
    color: white;
    border: 5px solid rgb(73, 98, 100);
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    
}

#question4 {
    background-color: rgb(73, 98, 100);;
    width: 33%;
    height: 300px;
    font-size: 180%;
    display: inline-block;
    color: white;
    border: 5px solid rgb(73, 98, 100);
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

#question5 {
    background-color: rgb(73, 98, 100);;
    width: 33%;
    height: 300px;
    font-size: 180%;
    display: inline-block;
    color: white;
    border: 5px solid rgb(73, 98, 100);
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    
}

#question6 {
    background-color: rgb(73, 98, 100);;
    width: 33%;
    height: 300px;
    font-size: 180%;
    display: inline-block;
    color: white;
    border: 5px solid rgb(73, 98, 100);
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
}

#answered-container {
    font-size: 300%;
    width: 20%;
    background-color: rgb(73, 98, 100);
    position: absolute;
    bottom: 5%;
    left: 10%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white;

}

#score-container {
    font-size: 300%;
    width: 20%;
    background-color: rgb(73, 98, 100);
    position: absolute;
    bottom: 5%;
    right: 10%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
    
}

#correct-message {
    font-size: 300%;
    width: 20%;
    background-color: rgb(114, 190, 0);
    position: absolute;
    bottom: 5%;
    left: 40%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: none;
  
}

#incorrect-message {
    font-size: 300%;
    width: 20%;
    background-color: rgb(250, 79, 49);
    position: absolute;
    bottom: 5%;
    left: 40%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: none;
  
}

#end-message{
    background-color: rgb(9, 164, 253);
    width: 90%;
    box-sizing: border-box;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
    margin: 0 auto;
    display: none;
    color: rgb(73, 98, 100);
    text-align: center;
    border-radius: 10px;
      
 }

 #end-message h1 {
    font-size:  600%;
    padding: 50px;
  }

  #end-message p{
    font-size:  400%;
}

#end-button {
    background-color: rgb(73, 98, 100);
    position: absolute;
    height: 10%;
    width: 15%;
    top: 80%;
    right: 5%;
    font-size: 200%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;

}

#end-button:hover {
    background-color: white;
    color: rgb(9, 164, 253);
    font-size: 220%;
}
  